mark.red {
    background-color: #FFEEEE;
}

mark.orange {
    background-color: #FFF3E0;
}

mark.yellow {
    background-color: #FFF9C4;
}

mark.green {
    background-color: #E8F5E9;
}

mark.blue {
    background-color: #E3F2FD;
}

mark.purple {
    background-color: #F3E5F5;
}